/* Footer */
footer {
    bottom: 0;
    background: linear-gradient(180deg, #BEF164, #6CBB4D);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 430px;
    padding: 120px;
}
#LogoPandaWeb {
    width: 145px;
    height: 145px;
    margin-bottom: 20px;
}
#Adresse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    font-family: 'Nunito', helvetica, sans serif;
}
#Contacteznous {
    color: #ffffff;
    font-family: 'Nunito', helvetica, sans serif;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    margin-left: 20px;
}
#Decouvreznous {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: 'Nunito', helvetica, sans serif;
    font-size: 16px;
    line-height: 30px;
    margin-left: 20px;
}
#DocumentsJuridiques {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: 'Nunito', helvetica, sans serif;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    margin-left: 20px;
}
a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}
.rsfooter {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 30px;
    height: 30px;
    margin: 10px;
}
#RSFooter{
    display: flex;
    flex-direction: row;

}

.change-background-footer1{
    background: none;
    background-color:  #BEF164;
}
.change-background-footer2{
    background: none;
    background-color: #090D0F;
}
