/*Slider Responsive*/
@media (min-width: 1200px){
    .mac-gyver {
        visibility: hidden;
    }
    

}
@media (max-width: 1200px){

.carousel{
    display: none;
}
#slider{
    display: none;
}
.mac-gyver {
visibility: visible;
position: relative;

margin-left: auto;
margin-right: auto;
width: 400px;
display: flex;
align-items: center;
}
.mac-gyver img{
    max-width: 335px;
    height: auto;
}