/* Amine commence de coder */
*{
    margin: 0;
    padding: 0;
}
header #content-navbar nav .items:last-child{
    width: 10%;
}
/* Amine finit de coder */

/* My commence de coder */

/* font */
.bold {
    font-weight: bold;
}
h2{
    font-size: 62px;
}
h3 {
    font-size: 42px;
}
h4 {
    font-size: 26px;
}
h5 {
    font-size: 24px;
}
p {
    font-size: 16px;
}

/* size: img, icon */
.size662x254px {
    max-width: 662px;
    max-height: 254px;
    width: auto;
    height: auto;
    padding-left: 120px;
}
.size80x80px {
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
}
.size45x45px {
    max-width: 45px;
    max-height: 45px;
    width: auto;
    height: auto;
}
.size300x200px {
    max-width: 300px;
    max-height: 200px;
    width: auto;
    height: auto;
    position: relative;
    bottom: -90px;
}

/* Position */
.columnAlignCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aroundWrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.aroundRow {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.columnCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* L'autres desins */
.width25vw {
    width : 25vw;
}
.margin42px0 {
    margin: 42px 0 42px 0;
}
.padding120px{
    padding: 120px;
}
.padTop80 {
    padding-top: 80px;
}
.padTop60 {
    padding-top: 60px;
}
.padTop20 {
    padding-top: 20px;
}
.padRL20px {
    padding: 0 20px;
}
.borderGreen {
    border: 2px solid #6CBB4D;
}
.team {
    padding: 120px 80px 0 80px;
    border-top: 2px solid #6CBB4D
}
.card {
    width: 560px;
    height: 380px;
    background: linear-gradient(180deg, #BEF164, #6CBB4D);
    padding: 36px 0 0 40px;
    border-radius: 20px;
    margin: 20px;
}
.personne {
    padding: 10px 0 10px 0;
}
hr {
    border-style: solid;
    color: white;
    width: 150px;
    align-self: start;
    border-width: 2px;
    position: relative;
    left: -40px;
}
.presentPer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: -40px;
}
/* My finit de coder */

footer {
    background: linear-gradient(180deg, #BEF164, #6CBB4D);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 432px;
}
#LogoPandaWeb {
    width: 145px;
    height: 145px;
}
#Adresse {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
