/* Notre Agence */
.change-notre-agence{
    background-color: black;
    color: white;
}
.change-color-h3{
    color: #BEF164;   
}
/* bambou baton */
.container-img-bambou{
    width: 60%;
    height: 88px;
    position: relative;
    left: -120%;
    top: 65px;
}
.container-img-bambou img{
    width: 100%;
    transform: rotate(175deg);
}
.anim-bambou-visible{
    animation-duration: 0.4s;
    animation-name: animBambouVisible;
    animation-fill-mode: forwards;
}
@keyframes animBambouVisible{
    from{
        left: -120%;
    }to{
        left: 0%;
    }
}

.anim-bambou-hidden{
    left: 0;
    animation-duration: 0.4s;
    animation-name: animBambouHidden;
    animation-fill-mode: forwards;
}

@keyframes animBambouHidden{
    from{
        left: 0px;
    }to{
        left: -900px;
    }
}
/* Panda */

.dark-panda-hidden{
    width: 235px;
    height: 235px;
    display: none;
}
.dark-panda-visible{
    width: 235px;
    height: 235px;
    display: block;
}

.ordi-visible{
    display: initial;
}
.ordi-hidden{
    display: none;
}

.cwac{
    background-image: url(../assets/images/Pattern-green.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100%;
    
    
}

.team-s {
    background-image: url(../assets/images/Pattern-green.png);
    background-size: contain;
    background-repeat: round;
    background-position-y: 100%;
    
}