
*{
    margin: 0;
    padding: 0;

}
body{
    overflow-x: hidden;
}
header #content-navbar nav .items:last-child{
    width: 10%;
}


/* font */
.bold {
    font-weight: bold;
}
h2{
    font-size: 62px;
}
h3 {
    font-size: 42px;
}
h4 {
    font-size: 26px;
}
h5 {
    font-size: 24px;
}
h6 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
}
p {
    font-size: 16px;
    font-weight: normal;
}

/* size: img, icon */
.size-562x264px {    
    width: 562px;
    height: 264px;
    padding-left: 120px;
}
.size-80x80px {
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
}
.size45x45px {
    max-height: 45px;
    width: auto;
    height: auto;
}

/* Position */
.columnAlignCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aroundWrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.aroundRow {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.columnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* L'autres dessins */
.width25vw {
    width : 25vw;
}
.margin42px0 {
    margin: 42px 0 42px 0;
}
.padding120px{
    padding: 120px;
}
.padTop80 {
    padding-top: 80px;
}
.padTop60 {
    padding-top: 60px;
}
.padTop20 {
    padding-top: 20px;
}
.padding-RL20px {
    padding: 0 20px;
}
.borderGreen {
    border: 2px solid #6CBB4D;
}
.team {
    padding: 120px 80px 0 80px;
    border-top: 2px solid #6CBB4D
}
.card {
    width: 560px;
    height: 380px;
    background: linear-gradient(180deg, #BEF164, #6CBB4D);
    padding: 36px 0 0 40px;
    border-radius: 20px;
    margin: 20px;
}
.personne {
    padding: 10px 0 10px 0;
    height: 50px;
}
hr {
    border-style: solid;
    color: white;
    width: 150px;
    align-self: start;
    border-width: 2px;
    position: relative;
    left: -60px;
}
.presentPer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: -40px;
    height: 184px;
}
.iconsPersonne {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    left: -20px;
    bottom: 20px;
    width: 70%;
}
.avatarPersonne {
    height: 200px;
    width: 170px;
    position: relative;
    bottom: -45px;
}
#avatarGwen {
    width: 200px;
}

@keyframes animBambouHidden{
    form{
        left: 0px;
    }to{
        left: -900px;
    }
}
footer {
    bottom: 0;
    background: linear-gradient(180deg, #BEF164, #6CBB4D);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 430px;
    padding: 120px;
}
#LogoPandaWeb {
    width: 145px;
    height: 145px;
    margin-bottom: 20px;
}
#Adresse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    font-family: 'Nunito', helvetica, sans serif;
}
#Contacteznous {
    color: #ffffff;
    font-family: 'Nunito', helvetica, sans serif;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    margin-left: 20px;
}
#Decouvreznous {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: 'Nunito', helvetica, sans serif;
    font-size: 16px;
    line-height: 30px;
    margin-left: 20px;
}
#DocumentsJuridiques {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: 'Nunito', helvetica, sans serif;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    margin-left: 20px;
}
a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}
.rsfooter {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 30px;
    height: 30px;
    margin: 10px;
}
#RSFooter{
    display: flex;
    flex-direction: row;

}
/* Fin du Footer*/
@media screen and (max-width: 1185px) {
    .card{
        width: 416px;
    }
    .iconsPersonne{
        bottom: -5px;
        width: 100%;
    }
}